.table-rate {
    position: relative;
    margin-top: -32px;
    margin-left: 90px;
    font-weight: bold;
}

.table-volumn {
    font-weight: bold;
}

.table-number {
    margin-left: 10px;
    position: relative;
    margin-bottom: -24px;
    font-weight: bold;
    font-size: small;
}

img {
    margin-left: 40px;
}

.header-content {
    text-align: center;
} 
span {
    color: blue;
    font-weight: bold;
    position: relative;
}

span:after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: blue;
}

.search-box {
    width: 31%;
    margin-bottom: 6%;
    border: 1px solid #b3d1ba;
    border-radius: 33px;
    margin-left: 35%;
    margin-top: 3%;
    position: relative;
} 

.search-box .MuiInputBase-root{
    width: calc(100% + 200px);
    left: -200px;
    /* position: relative; */
}

.search-box  .icon-button{
    position: absolute;
    right: 40px;
    top: 20px;
}

.plac-icon{
    position: absolute;
    left: 30px;
    top: 20px;
}

.search-box .MuiInputBase-root .MuiInputBase-input:focus {
    width: 16ch;
}